/* src/componentes/SimpleFooter/simpleFooter.module.css */

.footer {
  width: 100%;
  background-color: var(--color-surface);
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* A linha "margin-top: 3rem;" foi removida daqui */
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text);
}