* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}