/* src/componentes/FilterSidebar/filterSidebar.module.css */
.catalogFilters {
  background-color: var(--color-surface); /* Fundo escuro sutil */
  padding: 1.5rem;
  border-radius: 5px;
  height: fit-content;
  border: 1px solid var(--color-border); /* Borda sutil */
}

.catalogFilters h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-text); /* Título branco */
  border-bottom: 1px solid var(--color-border); /* Borda discreta */
  padding-bottom: 0.5rem;
}

.filterGroup {
  margin-bottom: 1rem;
}

.filterGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.filterGroup input,
.filterGroup select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-border); /* Borda discreta */
  border-radius: 3px;
  background-color: var(--color-background); /* Fundo dos inputs escuro */
  color: var(--color-text);
  font-size: 0.9rem;
}

/* Estilo para placeholder */
.filterGroup input::placeholder {
    color: var(--color-text-secondary);
    opacity: 0.7;
}

.btnPrimary {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btnPrimary:hover {
  background-color: #d4bc7a; /* Um tom mais claro da cor primária */
}