/* src/componentes/Header/header.module.css */

.navbar {
  /* Fundo sólido por padrão (para /estoque, /contato, etc.) */
  background-color: var(--color-surface);
  padding: 1.5rem 0;
  border-bottom: 1px solid #333;
  
  /* Faz o header ficar "grudado" no topo */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que fique acima de tudo */
  transition: background-color 0.3s ease; /* Transição suave */
}

/* Esta classe será adicionada via JS
  quando estivermos na Home Page 
*/
.navbar.transparent {
  background-color: transparent;
  border-bottom: 1px solid transparent; /* Remove a borda na home */
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary); /* Cor branca */
  text-decoration: none;
}

.navbarMenu {
  display: flex;
  gap: 1.5rem;
}

.navbarMenu a {
  /* Cor Dourada para os links, como você pediu */
  color: var(--color-primary); 
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  text-transform: uppercase; /* Deixa os links em maiúsculo */
}

.navbarMenu a:hover {
  color: var(--color-text); /* Links ficam brancos no hover */
}